body {
  background-color: rgb(66, 68, 68);
}

h2 {
  color: black;
}

h5 {
  font-size: 3em;
}

p {
  font-size: 2em;
}

.p {
  align-items: flex-end;
}

.fadding {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-hover {
  visibility: hidden;
  opacity: 0;
}

.card-bbody:hover {
  cursor: pointer;
}

.displaying {
  box-sizing: border-box;
  position: absolute;
}

.card:hover .card-hover {
  opacity: 1;
  visibility: visible;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.card-bbody {
  position: relative;
}
